# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore mypy cache
.mypy_cache/

# Ignore virtual environments
venv/
env/
.env
test_env/
# Ignore system-specific files
.DS_Store

rough.py
rough2.py

.vscode